{% load i18n %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Your Site</h1>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %} 
                <div>
                    <select id="language-select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                        {% endfor %}
                    </select>
                    <button onclick="changeLanguage()">Змінити мову</button>
                </div>
                  

            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
<script type="text/javascript">
    function changeLanguage() {
      var selectElement = document.getElementById("language-select");
      var selectedLanguage = selectElement.value;
      var url = "{% url 'set_language' %}?language=" + selectedLanguage + "&next={{ request.path }}";
      window.location.href = url;
    }
  </script>
</html>
